.contenedor-icono svg{
    color:white;
}

button:hover .contenedor-icono svg{
    color:black;
}

.btn-primary {
    background-color: #533082!important;
    border-color: #533082 !important;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: #35185a !important;
    border-color: #35185a !important;
  }


.fondo-login{
    background-color: #533082;
}