body {
    background-color: #5d2c85; /* Fondo morado */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: white; /* CardView blanca */
    padding: 20px;
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Máxima anchura de la CardView */
}

h1 {
    margin-bottom: 20px;
    color: #5d2c85; /* Título morado */
    text-align: center; /* Centrar el título */
}
h2 {
    color: #000000; /* Título morado */
}

h3 {
    color: #000000; /* Color negro para el título */
    text-align: center; /* Centrar el título */
    font-weight: normal; /* Fuente normal */
}
p {
    color: black; /* Color negro para el texto del párrafo */
    text-align: center; /* Centrar el texto */
    font-weight: normal; /* Fuente normal */
}

.divider {
    border: none; /* Sin borde */
    height: 2px; /* Altura de la línea */
    background-color: #202020; /* Color de la línea */
    margin: 5px 0; /* Margen superior e inferior */
}

label {
    margin-top: 10px;
    display: block;
    color: black; 
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegurar que el padding no afecte el ancho total */
}

span[id$="Error"] {
    color: #e74c3c; /* Color rojo para el error */
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    display: block; /* Para asegurarnos de que el error ocupa su propio espacio */
}


.text-purple {
    color: #5d2c85; /* Morado */
}





button {
    width: 100%;
    padding: 10px;
    background-color: #5d2c85; /* Color morado para el botón */
    color: white;
    border: none;
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer;
}

button:hover {
    background-color: #2c1846; /* Color más oscuro al pasar el mouse */
}

a {
    color: #5d2c85;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 500px) {
    .card {
        width: 90%; /* CardView ocupa el 90% en pantallas pequeñas */
    }
}

.gray-button {
    background-color: #d3d3d3; /* Color de fondo gris */
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    font-weight: normal; /* Fuente normal */
    width: 100%; /* Ancho completo */
    
    text-align: center; /* Texto centrado */
}

.gray-button:hover {
    background-color: #b0b0b0; /* Color más oscuro al pasar el mouse */
}


#alert-container {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 8px;
    background-color: #f8d7da; /* Fondo rojo claro para error */
    color: #721c24; /* Texto rojo oscuro */
    border: 1px solid #f5c6cb; /* Borde rojo claro */
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    z-index: 1000;
    animation: slideIn 0.5s ease-out;
}

#alert-container.success {
    background-color: #EDDCFF; /* Fondo verde claro */
    color: #155724; /* Texto verde oscuro */
    border: 1px solid #c3e6cb; /* Borde verde claro */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #5d2c85;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(43, 43, 43, 0.8);
}

